
<h1> Your Details are : </h1>
<p>User Name: <%= current_user.login %></p>
<p>Registration No.: <%= current_user.regdno %></p>
<p>Name : <%= current_user.name %></p>
<p><%= link_to "Home", root_path %></p>
