
<h1> Your Details are : </h1>
<p>User Name: <%=h current_user.login %></p>
<p>Registration No.: <%=h current_user.regdno %></p>
<p>Name : <%=h current_user.name %></p>
<p><%= link_to "Home", root_path %></p>
